<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Activity Report</h5>
            <p class="card-text">View detailed user activity within the system.</p>
            <a href="#" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">System Performance Report</h5>
            <p class="card-text">Check system performance and uptime metrics.</p>
            <a href="#" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Security Audit Report</h5>
            <p class="card-text">Review recent security audits and findings.</p>
            <a href="#" class="btn btn-primary">View Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  